.like-current-user {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fb0023;
}

.like-another-user {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #e4e4e4;
}

#like {
  border: none;
  background: transparent;
}

.material-icons:hover {
  color: #fb0023;
}